*{
    margin: 0;
    padding: 0;
}
table {
    margin: 50px auto;
}
td {
    border: 5px solid black;
    height: 50px;
    width: 50px;
}
.grey {
    background: grey;
}
.blue {
    background: blue;
}
.yellow {
    background: yellow;
}
.red {
    background: red;
    height: 250px;
    width: 250px;
}
.right {
    width: 150px;
}
.rectangle {
    height: 31px;
}
.square {
    width: 50px;
    height: 50px;
}
.border_right {
    border-right: none;
}
.border_left {
    border-left: none;
}
.border_top {
    border-top: none;
}
.border_bottom {
    border-bottom: none;
}
.border_top_right {
    border-top: none;
    border-right: none;
}
.border_top_left {
    border-top: none;
    border-left: none;
}
.border_bottom_left {
    border-bottom: none;
    border-left: none;
}
.border_bottom_right {
    border-bottom: none;
    border-right: none;
}
.height_6 {
    height: 65px;
}
