* {
  margin: 0;
  padding: 0;
}
body {
  font: 18px Arial, sans-serif;
}
h1 {
  text-align: center;
  text-transform: uppercase;
}
h3 {
  line-height: 60px;
}
span {
  color: #5c5d5d;
}
p {
  margin-left: 35px;
}
.wrapper {
  width: 1024px;
  height: 1024px;
  background-image: url(../img/bg.jpg);
  margin: 0 auto;
  padding: 50px 260px;
  box-sizing: border-box;
}
.content ul {
  margin-left: 35px;
}
.avatar {
  text-align: center;
  font-size: 0;
  margin: 20px;
}
.avatar img {
  width: 200px;
}
.separator {
  padding-bottom: 20px;
  border-bottom: 1px solid #c5c8c5;
}
.social {
  font-style: italic;
}
