@font-face {
    font-family: "Helvetica Neue";
    src: url("../fonts/helveticaneue-thin-webfont.eot");
    src: url("../fonts/helveticaneue-thin-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/helveticaneue-thin-webfont.woff2") format("woff2"),
         url("../fonts/helveticaneue-thin-webfont.woff") format("woff"),
         url("../fonts/helveticaneue-thin-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}
body {
    font-family: "Helvetica Neue";
    font-size: 14px;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    margin: 0 auto;
}
header {
    background-color: #074c89;
    background-image: url(../img/bg_menu.png);
    height: 36px;
    width: 100%;
    top: 0;
    position: fixed;
    z-index: 1;
}
.menu_reg {
    float: right;
    margin: 0 20px;
    color: white;
}
.header_menu {
    float: right;
    font-size: 0;
}
.menu_reg li {
    position: relative;
    display: inline-block;
    padding: 0 10px;
}
.menu_reg .active {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#64a8e3+0,2e7ac4+100 */
    background: rgb(100,168,227); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(100,168,227,1) 0%, rgba(46,122,196,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(100,168,227,1)), color-stop(100%,rgba(46,122,196,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(100,168,227,1) 0%,rgba(46,122,196,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(100,168,227,1) 0%,rgba(46,122,196,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(100,168,227,1) 0%,rgba(46,122,196,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(100,168,227,1) 0%,rgba(46,122,196,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64a8e3', endColorstr='#2e7ac4',GradientType=0 ); /* IE6-9 */

    height: 36px;
    /*border-radius: 1px;*/
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    border: 1px solid #64a8e3;
    box-sizing: border-box;
}
.header_menu > li:last-child {
    background: url("../img/menu_sep.png") right top no-repeat;
}
.menu_reg li:first-child {
    margin-left: 11px;
}
.flag::before {
    position: absolute;
    top: 6px;
    left: -19px;
    content: "";
    width: 25px;
    height: 27px;
    background: url("../img/flag.png");
}
.flag {
    color: white;
    line-height: 36px;
    font-size: 14px;
    text-decoration: none;
}
.menu_reg li a {
    color: white;
    line-height: 36px;
    font-size: 14px;
}
.header_menu li {
    display: inline-block;
    overflow: hidden;

}
.header_menu li a{
    font-size: 14px;
    padding: 10px 13px;
    color: #60b5ed;
    line-height: 36px;
    text-decoration: none;
}
.header_menu a:hover,
.header_menu .active {
    background: #4eabda;
    color: white;
}
.header_menu .active a {
    color: white;
}
/* Зачистка границ */
.clearfix:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    width: 100%;
}
/* -End- Зачистка границ */
.wrapper {
    margin-top: 213px;
    margin-bottom: 202px;
}
.form_reg {
    margin: 0 auto;
    width: 560px;
}
.header_reg {
    margin-bottom: 2px;
    background-color: rgba(0, 0, 0, 0.5);;
    color: white;
    height: 62px;
    line-height: 62px;
    text-align: center;
    font-size: 24px;
}
.registration {
    position: relative;
    padding-top: 36px;
    height: 549px;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    color: white;
}
.facebook {
    text-align: center;
    display: block;
}
.registration span {
    display: block;
    text-align: center;
    color: #999999;
    margin-top: 33px;
    margin-bottom: 30px;
    background: url(../img/OU_sep.png) center no-repeat;
}
input {
    margin-top: 16px;
	width: 276px;
    height: 35px;
	font-size: 14px;
    padding: 3px 0 0 17px;
    background-color: black;
    color: #cccccc;
    border: 0;
    border-bottom: 1px solid #474747;
}
input:focus {
    background-color: #1b5288;
    color: white;
    border-bottom: 1px solid #689bcc;

    -webkit-box-shadow: 0 0 6px 0 rgba(104,156,204,1);
    -moz-box-shadow: 0 0 6px 0 rgba(104,156,204,1);
    box-shadow: 0 0 6px 0 rgba(104,156,204,1);
}
.FirstName input[type="text"] {
    margin: 0;
}
.newsletter {
    position: relative;
    margin: 23px auto;
    width: 276px;
    text-align: left;

}
input[type="checkbox"] {
    position: absolute;
    left: -13px;
    top: -16px;
    width: 13px;
    height: 13px;
    padding: 0;
}
.newsletter label {
    padding: 9px;
}

input[type="submit"] {
    background: rgba(103,198,230,1);
/* Old Browsers */background: -moz-linear-gradient(top, rgba(103,198,230,1) 0%, rgba(54,133,202,1) 100%);
/* FF3.6+ */background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(103,198,230,1)), color-stop(100%, rgba(54,133,202,1)));
/* Chrome, Safari4+ */background: -webkit-linear-gradient(top, rgba(103,198,230,1) 0%, rgba(54,133,202,1) 100%);
/* Chrome10+,Safari5.1+ */background: -o-linear-gradient(top, rgba(103,198,230,1) 0%, rgba(54,133,202,1) 100%);
/* Opera 11.10+ */background: -ms-linear-gradient(top, rgba(103,198,230,1) 0%, rgba(54,133,202,1) 100%);
/* IE 10+ */background: linear-gradient(to bottom, rgba(103,198,230,1) 0%, rgba(54,133,202,1) 100%);
/* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#67c6e6', endColorstr='#3685ca', GradientType=0 );
    color: white;
    border-radius: 2px;
    width: 151px;
    margin: 0;
    margin-bottom: 20px;
    padding: 0;
}
.registration p {
    font-size: 11px;
    line-height: 1.455;
    color: #cccccc;
}
