body {
    background: #f9f9f9;
}
.header > a {
    display: block;
    margin-bottom: 40px;
}
.wrapper {
    background: white;
    width: 1060px;
    margin: 0 auto;
    padding: 46px;
    -webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 3px 0 rgba(0,0,0,0.75);
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.75);
    box-sizing: border-box;
}
.main {
    margin-top: 40px;
    margin-bottom: 40px;
}
/* навигационное меню */
.nav_menu {
    background: #575656;
    font-family: 'Open Sans', arial, verdana, sans-serif;
    font-size: 0;
    background-image: -moz-linear-gradient( 90deg, rgb(68,67,67) 0%, rgb(94,94,94) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(68,67,67) 0%, rgb(94,94,94) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(68,67,67) 0%, rgb(94,94,94) 100%);
    background-image: -o-linear-gradient( 90deg, rgb(68,67,67) 0%, rgb(94,94,94) 100%);
}
.nav_menu li {
    display: inline-block;
    text-align: center;
}
.nav_menu li a {
    font-size: 14px;
    color: white;
    display: block;
    text-decoration: none;
    padding: 15px 45px 15px 45px;
    text-shadow: 1px 1px 1px black;
}
.nav_menu a:hover,
.nav_menu .active {
    color: white;
    background-image: -moz-linear-gradient( 90deg, rgb(46,46,46) 0%, rgb(74,74,74) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(46,46,46) 0%, rgb(74,74,74) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(46,46,46) 0%, rgb(74,74,74) 100%);
    background-image: -o-linear-gradient( 90deg, rgb(46,46,46) 0%, rgb(74,74,74) 100%);
    padding: 15px 44px 15px 44px;
    border-left: 1px solid #838383;
    border-right: 1px solid #838383;
}

/* Конец навигационного меню*/

.sidebar {
    float: left;
}

/* Меню аккордион */
.menu_accordion {
    width: 236px; /* Ширина блока меню*/
    border-bottom: 1px solid #c8c8c8; /* Рисую рамку вокруг левого основного меню */
    border-left: 1px solid #c8c8c8; /* Рисую рамку вокруг левого основного меню */
    border-right: 1px solid #c8c8c8; /* Рисую рамку вокруг левого основного меню */
}
.menu_accordion li{
    border-top: 1px solid #c8c8c8; /* Рисую рамку вокруг левого основного меню */
}
.menu_accordion li a {
    display: block;
    box-sizing: border-box;
    width: 100%;
    height: 39px; /* Высота пункта меню*/
    color: #656363; /* задаем цвет текста меню */
    text-decoration: none; /* убираем нижнее подчеркивание ссылок в меню */
    background: white; /* Цвет фона меню */
    padding-left: 23px; /* Задаем внутренние отступы для текста пунктов меню: 0-верх/низ, 10/23-лево/право */
    line-height: 39px; /* Выравниваем текст пункта меню посерединке воображаемой кнопки */
    font-size: 14px; /* задаем размер шрифта для пунктов меню */
    font-family: 'Open Sans', arial, verdana, sans-serif;
}
/* стили поведения поунктов меню при наведении курсора и клике по ним */
.menu_accordion .active {
    background: #f9f9f9;
    padding-left: 35px;
    color: #2c2c2c;
}
.menu_accordion a:hover {
    color: #2c2c2c;
    background: #f9f9f9;
    padding-left: 35px;

}
/* конец меню акардион */
.image {
    border: 1px solid #c8c8c8;
    height: 398px;
    text-align: center;
    margin-bottom: 40px;
}
.content {
     margin-left: 288px;
     font-family: 'Open Sans', arial, verdana, sans-serif;
}
.content p {
    margin: 0 10px 0 25px;
    line-height: 21px;
    font-size: 13px;

}
.footer {
    width: 100%;
    background: #e1e1e1;
    overflow: hidden;
}
.footer span {
    font-family: 'Open Sans', arial, verdana, sans-serif;
    float: right;
    line-height: 44px;
    margin-right: 20px;
    font-size: 14px;
}
.nav_menu_footer {
    float: left;
    font-family: 'Open Sans', arial, verdana, sans-serif;
    font-size: 14px;
    color: #2c2c2c;
}
.nav_menu_footer li{
    display: inline-block;
    text-align: center;
}
.nav_menu_footer a {
    color: #2c2c2c;
    display: block;
    text-decoration: none;
    padding: 15px 45px 15px 45px;
}
.nav_menu_footer a:hover,
.nav_menu_footer .active {
    text-decoration: underline;
}
