body {
    background: #f9f9f9;
}
.header > a {
    display: block;
    margin-bottom: 40px;
}
.wrapper {
    background: white;
    width: 1060px;
    margin: 0 auto;
    padding: 46px;
    -webkit-box-shadow: 0 0 3px 0 rgba(0,0,0,0.75);
    -moz-box-shadow: 0 0 3px 0 rgba(0,0,0,0.75);
    box-shadow: 0 0 3px 0 rgba(0,0,0,0.75);
}
.main {
    margin-top: 40px;
    margin-bottom: 40px;
}
/* навигационное меню */
.nav_menu {
    background: #575656;
    font-family: 'Open Sans', arial, verdana, sans-serif;
    font-size: 14px;
    background: #4c4c4c;
    background: -moz-linear-gradient(top, #4c4c4c 0%, #474747 6%, #595959 20%, #666666 32%, #5c5c5c 46%, #5c5c5c 54%, #5c5c5c 59%, #5c5c5c 66%, #5c5c5c 69%, #2b2b2b 99%, #2b2b2b 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, #4c4c4c), color-stop(6%, #474747), color-stop(20%, #595959), color-stop(32%, #666666), color-stop(46%, #5c5c5c), color-stop(54%, #5c5c5c), color-stop(59%, #5c5c5c), color-stop(66%, #5c5c5c), color-stop(69%, #5c5c5c), color-stop(99%, #2b2b2b), color-stop(100%, #2b2b2b));
    background: -webkit-linear-gradient(top, #4c4c4c 0%, #474747 6%, #595959 20%, #666666 32%, #5c5c5c 46%, #5c5c5c 54%, #5c5c5c 59%, #5c5c5c 66%, #5c5c5c 69%, #2b2b2b 99%, #2b2b2b 100%);
    background: -o-linear-gradient(top, #4c4c4c 0%, #474747 6%, #595959 20%, #666666 32%, #5c5c5c 46%, #5c5c5c 54%, #5c5c5c 59%, #5c5c5c 66%, #5c5c5c 69%, #2b2b2b 99%, #2b2b2b 100%);
    background: -ms-linear-gradient(top, #4c4c4c 0%, #474747 6%, #595959 20%, #666666 32%, #5c5c5c 46%, #5c5c5c 54%, #5c5c5c 59%, #5c5c5c 66%, #5c5c5c 69%, #2b2b2b 99%, #2b2b2b 100%);
    background: linear-gradient(to bottom, #4c4c4c 0%, #474747 6%, #595959 20%, #666666 32%, #5c5c5c 46%, #5c5c5c 54%, #5c5c5c 59%, #5c5c5c 66%, #5c5c5c 69%, #2b2b2b 99%, #2b2b2b 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#2b2b2b', GradientType=0 );
}
.nav_menu li {
    display: inline-block;
    text-align: center;
}
.nav_menu li a {
    color: white;
    display: block;
    text-decoration: none;
    padding: 15px 45px 15px 45px;
    text-shadow: 1px 1px 2px black;
}
.nav_menu a:hover {
    color: white;
    background: #393939;
    padding: 15px 44px 15px 44px;
    border-left: 1px solid #838383;
    border-right: 1px solid #838383;
}
.nav_menu .active {
    color: white;
    background: #393939;
    padding: 15px 44px 15px 44px;
    border-left: 1px solid #838383;
    border-right: 1px solid #838383;
}

/* Конец навигационного меню*/

.sidebar {
    float: left;
}

/* Меню аккордион */
.menu_accordion {
    border-bottom: 1px solid #c8c8c8; /* Рисую рамку вокруг левого основного меню */
    border-left: 1px solid #c8c8c8; /* Рисую рамку вокруг левого основного меню */
    border-right: 1px solid #c8c8c8; /* Рисую рамку вокруг левого основного меню */
}
.menu_accordion li{
    border-top: 1px solid #c8c8c8; /* Рисую рамку вокруг левого основного меню */
}
.menu_accordion li a {
    display: block;
    width: 205px; /* Ширина блока меню*/
    height: 39px; /* Высота пункта меню*/
    color: #656363; /* задаем цвет текста меню */
    text-decoration: none; /* убираем нижнее подчеркивание ссылок в меню */
    background: white; /* Цвет фона меню */
    padding-left: 23px; /* Задаем внутренние отступы для текста пунктов меню: 0-верх/низ, 10/23-лево/право */
    line-height: 39px; /* Выравниваем текст пункта меню посерединке воображаемой кнопки */
    font-size: 14px; /* задаем размер шрифта для пунктов меню */
    font-family: 'Open Sans', arial, verdana, sans-serif;
}
/* стили поведения поунктов меню при наведении курсора и клике по ним */
.menu_accordion li:hover > a,
.menu_accordion li:target > a {
    color: #2d2d2d;
}
/* Стили для подменю */
.sub_menu li a {
    padding-left: 35px;
}
.sub_menu .active {
    background: #f9f9f9;
    color: #2c2c2c;
}
/* конец меню акардион */
.image {
    border: 1px solid #c8c8c8;
    height: 398px;
    text-align: center;
    margin-bottom: 40px;
}
.content {
     margin-left: 334px;
     font-family: 'Open Sans', arial, verdana, sans-serif;
}
.content p {
    margin: 0 10px 0 25px;
    line-height: 21px;
    font-size: 13px;

}
.footer {
    width: 100%;
    background: #e1e1e1;
    overflow: hidden;
}
.footer span {
    font-family: 'Open Sans', arial, verdana, sans-serif;
    float: right;
    line-height: 44px;
    margin-right: 20px;
    font-size: 14px;
}
.nav_menu_footer {
    float: left;
    font-family: 'Open Sans', arial, verdana, sans-serif;
    font-size: 14px;
    color: #2c2c2c;
}
.nav_menu_footer li{
    display: inline-block;
    text-align: center;
}
.nav_menu_footer a {
    color: #2c2c2c;
    display: block;
    text-decoration: none;
    padding: 15px 45px 15px 45px;
}
.nav_menu_footer a:hover {
    text-decoration: underline;
}
.nav_menu_footer .active {
    text-decoration: underline;
}
