body {
    background-image: url(../img/bg.jpg);
    font-family: Tahoma, Arial, sans-serif;
}
.wrapper {
    width: 1000px;
    background: white;
    margin: 0 auto;

    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,1);
    -o-box-shadow: 0px 3px 5px 0px rgba(0,0,0,1);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,1);
}

/* Зачистка границ */
.clearfix:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    width: 100%;
}
/* -End- Зачистка границ */
/* Логотип */
.logo {
    float:left;
    font-size: 0;
    position: relative;
    width: 283px;
    height: 164px;
    /*background: yellow;*/
    margin-top: 49px;
    margin-left: 28px;
}
.logo span {
    font-size: 12px;
    color: #128aa7;
    display: block;
    position: absolute;
    top: 100px;
    left: 72px;
}
/* -End- Логотип */
/* Наши контакты */
.contacts {
    float: right;
    font-size: 12px;
    color: #5fa5bb;
    margin-top: 49px;
    margin-right: 34px;
    margin-left: 528px;
}
.contacts li:first-child {
    font-weight: bold; /* Жирный шрифт для первого елемента списка */
    margin-bottom: 4px; /* Делаю внешний отступ между первым и последующим елементом списка */
}
.contacts li {
    line-height: 16px; /* Увеличиваю отступ между строками */
}
/* -End- Наши контакты */
/* Страны */
.countries {
    float: right; /* Позиционирую блок страны по правому краю */
    margin-top: 33px; /* Внешний отступ сверху */
    margin-right: 33px; /* Внешний отступ справа */
}
.countries li {
    float: left; /* Выравниваю список по горизонтали */
    text-align: center; /* Выравниваю названия флагов по центру*/
    width: 58px; /* Задаю ширину поля для названия флагов */
}
.countries a {
    display: block;
    color: #128aa7; /* Цвет текста названия флагов */
    font-size: 10px; /* Размер текста названия флагов */
}
/* -End- Страны */
/* Центральное изображение */
.image {
    border-top: 1px solid #128aa7; /* Синяя рамка сверху от центральной картинки */
    border-bottom: 1px solid #128aa7; /* Синяя рамка снизу от центральной картинки */
    font-size: 0; /* Убираю отступ после картинки */
}
/* -End- Центральное изображение */
/* Главное меню сайта */
.main_menu {
    height: 28px; /* Высота меню */
    border-top: 1px solid #cacbcb; /* Серая полоска сверху меню */
    border-bottom: 1px solid black; /* Черная полоска снизу меню */
    position: relative;
    z-index: 1;
    text-align: justify;
/* Градиент для меню */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#373737+0,303030+100 */
    background: rgb(55,55,55); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(55,55,55,1) 0%, rgba(48,48,48,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(55,55,55,1)), color-stop(100%,rgba(48,48,48,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(55,55,55,1) 0%,rgba(48,48,48,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(55,55,55,1) 0%,rgba(48,48,48,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(55,55,55,1) 0%,rgba(48,48,48,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(55,55,55,1) 0%,rgba(48,48,48,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#373737', endColorstr='#303030',GradientType=0 ); /* IE6-9 */
/* -End- Градиент для меню */
/* Тень для меню */
    -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
    -o-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.75);
/* -End- Тень для меню */
}
.main_menu li {
    position: relative; /* Для того, чтоб относительно этого пункта меню, мы могли выставлять наш ul(выпадающий список) абсолютом(position: absolute;) */
    display: inline-block; /* Выравниваем список по горизонтали */
}
.main_menu a {
    padding: 0 35px;
    color: white; /* Цвет текста ссылки в пункте меню */
    line-height: 28px; /* На всю высоту меню, чтоб вся область пункта была кликабельной */
    display: block; /* Чтоб работал line-height */
    text-decoration: none; /* Убираю подчеркивание ссылок пунктов меню*/
    font-size: 14px; /* Размер текста ссылок пунктов меню*/
}
.main_menu ul {
    position: absolute; /* Позиционирование относительно родителя (.main_menu li) */
    display: none; /* Скрываем ul в main_menu, чтоб не мешало */
    top: 28px; /* Отступ выпадающего меню от родителя */
    left: 25px;
    padding-top: 1px;
/* Тень для выпадающего меню */
    -webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.75);
    -o-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.75);
/* -End- Тень для выпадающего меню */
}
.main_menu ul li {
    background: #303030; /* Фон выпадающего меню */
}
.main_menu li:hover ul {
    display: block; /* Как сказал Олег - "Вся суть выпадающего меню" =) */
}
.main_menu ul+a:after {
    position: absolute;
    content: "";
    display: block;
    margin-top: -2px;
    top: 50%;
    right: 25px;
    height: 6px;
    width: 5px;
    background: url(../img/triangle.png);
}
.main_menu ul a {
    width: 100%;
    padding: 0 45px 0 10px;
}
/* -End- Главное меню */
/* Основной блок с контентом */
.content {
    font-size: 14px;
    line-height: 1.714;
    overflow: hidden; /* чтобы лишее обрезалось */
}
.info_block {
    float: left;
    text-align: center;
    width: 210px;
    color: #424c43;
    box-sizing: border-box;
    border-left: 1px solid #c7cacf;
    border-right: 1px solid #c7cacf;
    background: #edeef0;
    padding-bottom: 20000px;
    margin-bottom: -20000px;
}
.center_block {
    float: left;
    background: white;
    padding-bottom: 20000px;
    margin-bottom: -20000px;
}
.info_block h2,
.news_block h2 {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    display: block;
    margin-top: 3px;
}
.news_block {
    float: right;
    text-align: center;
    width: 210px;
    color: #424c43;
    box-sizing: border-box;
    border-left: 1px solid #c7cacf;
    border-right: 1px solid #c7cacf;
    background: #edeef0;
    padding-bottom: 20000px;
    margin-bottom: -20000px;
}
/* -End- Основной блок с контентом */
/* Блок копирайта */
footer span {
    display: block;
    margin: 11px 0;
    color: white;
    text-align: center;
    font-size: 12px;
}
/* -End- Блок копирайта*/
