/*---------------------------------------------------------------------------*/
/* Хак для зачистки границ */
.clearfix:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    width: 100%;
}
/*---------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------*/
/* Тело документа */
body {
    font-family: "Lucida Sans Unicode", arial, verdana, sans-serif;
    font-size: 10.91px;
}
/* Обёртка сайта*/
.wrapper {
    /*background-color: #d0d0d0;*/
    width: 1000px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 18px 45px 0 45px;
}
/*---------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------*/
/* Контактные телефоны */
.telephone {
    position: relative;
    float: left;
    color: #5e696d;
    font-size: 18px;
    font-family: arial, verdana, sans-serif;
    letter-spacing: 0.45px;
    margin-top: 6px;
    margin-left: 32px;
    margin-right: 16px;
}
/* Значек телефонной трубки */
.telephone::before {
    position: absolute;
    top: -2px;
    left: -25px;
    height: 21px;
    width: 22px;
    content: "";
    background: url(../img/head-phone.png);
}
/*---------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------*/
/* Меню навигации сайта */
.navigation {
    display: inline-block;
    height: 19px;
    width: 75px;
    text-align: center;
    margin-top: 1px;
    margin-left: 16px;
    border: 1px solid #c1c8cb;
    border-radius: 10px;
    background: white;

    /* Тень для блока навигации */
    -webkit-box-shadow: 0 0 3px 0 rgba(193,200,203,1);
    -moz-box-shadow: 0 0 3px 0 rgba(193,200,203,1);
    box-shadow: 0 0 3px 0 rgba(193,200,203,1);
}
.navigation li {
    display: inline-block;
    margin-top: 2px;
    margin-left: 2px;
    margin-right: 3px;
}
/*---------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------*/
/* Блок авторизации на сайте */
.header_auth {
    position: relative;
    float: left;
    height: 25px;
    width: 495px;
    border-top: 1px solid #1f6787;
    border-bottom: 1px solid #0c3357;
    border-radius: 3px;
    box-sizing: border-box;

    /* Градиент для блока авторизации */
    background: rgba(31,105,137,1);
    background: -moz-linear-gradient(top, rgba(31,105,137,1) 0%, rgba(12,50,85,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(31,105,137,1)), color-stop(100%, rgba(12,50,85,1)));
    background: -webkit-linear-gradient(top, rgba(31,105,137,1) 0%, rgba(12,50,85,1) 100%);
    background: -o-linear-gradient(top, rgba(31,105,137,1) 0%, rgba(12,50,85,1) 100%);
    background: -ms-linear-gradient(top, rgba(31,105,137,1) 0%, rgba(12,50,85,1) 100%);
    background: linear-gradient(to bottom, rgba(31,105,137,1) 0%, rgba(12,50,85,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f6989', endColorstr='#0c3255', GradientType=0 );

    /* Тень для блока авторизации */
    -webkit-box-shadow: 2px 2px 2px 0 rgba(124,135,148,1);
    -moz-box-shadow: 2px 2px 2px 0 rgba(124,135,148,1);
    box-shadow: 2px 2px 2px 0 rgba(124,135,148,1);
}
.header_auth span {
    color: #fff;
    font-size: 11px;
}
.header_auth a {
    display: inline-block;
    color: white;
    text-decoration: none;
    letter-spacing: -0.15px;
}
.header_auth form {
    display: inline-block;
    margin-left: 24px;
}
.header_auth form::before {
    position: absolute;
    content: "";
    height: 17px;
    width: 13px;
    top: 4px;
    left: 8px;
    background: url(../img/work6.png);
}
.input_reg {
    height: 11px;
    width: 107px;
    font-size: 10.91px;
    font-family: "Lucida Sans Unicode", arial, verdana, sans-serif;
    padding-left: 3px;
    margin-right: 4px;
}
.input_submit_reg {
    height: 23px;
    width: auto;
    color: white;
    font-size: 10.91px;
    font-family: "Lucida Sans Unicode", arial, verdana, sans-serif;
    letter-spacing: -0.3px;
    margin-left: -2px;
    padding-right: 0;
    margin-right: 0;
    border: 0;
    background-color: inherit;
}
.header_auth .ForgotYourPassword {
    color: #bfbfbf;
    font-size: 12px;
    letter-spacing: 0;
}
.ForgotYourPassword_border {
    display: inline-block;
    margin-left: 17px;
    padding-bottom: 1px;
    border-bottom: 1px solid #7c8794;
}

/*---------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------*/
/* Главный баннер сайта */
.main_banner {
    margin-top: 11px;
    font-size: 0;
}
/*---------------------------------------------------------------------------*/

/*---------------------------------------------------------------------------*/
/* Меню сайта */
.main_menu {
    height: 34px;
    margin-top: 6px;
    border-top: 1px solid #2c345a;
    border-radius: 5px;
    box-sizing: border-box;

    /* Градиент для основного меню */
    background: rgba(45,50,54,1);
    background: -moz-linear-gradient(top, rgba(45,50,54,1) 0%, rgba(77,86,99,1) 0%, rgba(45,50,54,1) 21%, rgba(1,1,1,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(45,50,54,1)), color-stop(0%, rgba(77,86,99,1)), color-stop(21%, rgba(45,50,54,1)), color-stop(100%, rgba(1,1,1,1)));
    background: -webkit-linear-gradient(top, rgba(45,50,54,1) 0%, rgba(77,86,99,1) 0%, rgba(45,50,54,1) 21%, rgba(1,1,1,1) 100%);
    background: -o-linear-gradient(top, rgba(45,50,54,1) 0%, rgba(77,86,99,1) 0%, rgba(45,50,54,1) 21%, rgba(1,1,1,1) 100%);
    background: -ms-linear-gradient(top, rgba(45,50,54,1) 0%, rgba(77,86,99,1) 0%, rgba(45,50,54,1) 21%, rgba(1,1,1,1) 100%);
    background: linear-gradient(to bottom, rgba(45,50,54,1) 0%, rgba(77,86,99,1) 0%, rgba(45,50,54,1) 21%, rgba(1,1,1,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d3236', endColorstr='#010101', GradientType=0 );

    -webkit-box-shadow: 2px 3px 4px 0px rgba(80,82,94,1);
    -moz-box-shadow: 2px 3px 4px 0px rgba(80,82,94,1);
    box-shadow: 2px 3px 4px 0px rgba(80,82,94,1);
}
.main_menu ul {
    float: left;
    font-size: 0;
}
.main_menu li {
    position: relative;
    display: inline-block;
}
.main_menu li a {
    color: #b1bcc0;
    font-size: 13.64px;
    line-height:33px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 3px 18px 1px 21px;
    border-radius: 15px;
}
.main_menu .active,
.main_menu li a:hover {
    color: white;
    background: rgba(31,104,135,1);
    background: -moz-linear-gradient(top, rgba(31,104,135,1) 0%, rgba(12,51,87,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(31,104,135,1)), color-stop(100%, rgba(12,51,87,1)));
    background: -webkit-linear-gradient(top, rgba(31,104,135,1) 0%, rgba(12,51,87,1) 100%);
    background: -o-linear-gradient(top, rgba(31,104,135,1) 0%, rgba(12,51,87,1) 100%);
    background: -ms-linear-gradient(top, rgba(31,104,135,1) 0%, rgba(12,51,87,1) 100%);
    background: linear-gradient(to bottom, rgba(31,104,135,1) 0%, rgba(12,51,87,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f6887', endColorstr='#0c3357', GradientType=0 );
}
.main_menu_punkt_1 {
    margin-left: 126px;
}
.main_menu_punkt_2 {
    margin-left: -5px;
}
.main_menu_punkt_3 {
    margin-left: -8px;
}
.main_menu_punkt_4 {
    margin-left: -9px;
}
.main_menu_punkt_5 {
    margin-left: -13px;
}

/* Корзина покупок */
.basket_img {
    float: left;
    margin-left: 53px;
    padding-top: 7px;
}
.basket span{
    float: left;
    font-size: 11px;
    line-height: 30px;
}
.basket_product {
    color: #929b9f;
    margin-top: 1px;
    margin-left: 6px;
}
.basket .basket_number_item {
    color: #0d5a8f;
    font-size: 12px;
    font-family: arial, verdana, sans-serif;
    margin-top: 1px;
    margin-left: 3px;
}
.basket_sum {
    color: #8a9296;
    margin-top: 1px;
    margin-left: 14px;
}
.basket .basket_price {
    color: #0d5a8f;
    font-size: 12px;
    font-family: arial, verdana, sans-serif;
    margin-top: 1px;
    margin-left: 12px;
    letter-spacing: 0.3px;
}
/* -End- Меню сайта */
/*****************************************************************************/

/*****************************************************************************/

main {
    margin-top: 160px;
}

/*****************************************************************************/
/* Sidebar. Left Catalog */
.sidebar {
    float: left;
}
.sidebar a {
    color: #114165;
}
.product_catalog {
    display: block;
    height: 25px;
    width: 181px;
    font-size: 12.73px;
    line-height: 26px;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 5px;
    margin-left: -1px;
    border: 1px solid #79878d;
    border-radius: 13px;

    -webkit-box-shadow: 1px 2px 2px 0 rgba(191,191,191,1);
    -moz-box-shadow: 1px 2px 2px 0 rgba(191,191,191,1);
    box-shadow: 1px 2px 2px 0 rgba(191,191,191,1);
}
.product_catalog img {
    vertical-align: middle;
    margin-top: -4px;
    margin-left: 2px;
    margin-right: 3px;
}
.first_catalog_item {
    display: block;
    height: 26px;
    width: 148px;
    font-size: 14px;
    line-height: 29px;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 13px;
    margin-left: 1px;
    border: 1px solid #79878d;
    border-radius: 13px;
}
.first_catalog_item img {
    vertical-align: middle;
    margin-top: -5px;
    margin-right: 1px;
    margin-left: 2px;
}
.catalog_item_2 {
    margin-top: -4px;
    line-height: 28px;
}
.catalog_item_2 img {
    margin-top: -4px;
    margin-left: 1px;
    margin-right: 2px;
}
.catalog_item_3 {
    margin-top: -4px;
    line-height: 28px;
}
.catalog_item_3 img {
    margin-top: -3px;
    margin-left: 1px;
    margin-right: 2px;
}
.sidebar li {
    position: relative;
    margin-left: 47px;
}
.sidebar li a::before {
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    top: 8px;
    left: -11px;
    background: url(../img/submenumarker.png)
}
.sidebar .active::before,
.sidebar li a:hover::before{
    position: absolute;
    content: "";
    height: 8px;
    width: 8px;
    top: 8px;
    left: -11px;
    background: url(../img/submenumarkeractive.png)
}
.sidebar li a {
    font-size: 12.73px;
    line-height: 26px;
    text-decoration: none;
}
.subcatalog {
    margin-top: -1px;
}
.sidebar .active,
.sidebar li a:hover {
    font-size: 14px;
    font-family: arial, verdana, sans-serif;
    font-weight: bold;
    font-style: italic;
    margin-left: -1px;
    border-bottom: 2px solid #58697f;
}
/* -End- Sidebar. Left Catalog */
/*****************************************************************************/

/*****************************************************************************/
section {
    float: left;
    height: 627px;
    width: 526px;
    margin-top: 2px;
    margin-left: 9px;
    border-radius: 2px;

    background: rgba(229,231,232,1);
    background: -moz-linear-gradient(top, rgba(229,231,232,1) 0%, rgba(147,167,176,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(229,231,232,1)), color-stop(100%, rgba(147,167,176,1)));
    background: -webkit-linear-gradient(top, rgba(229,231,232,1) 0%, rgba(147,167,176,1) 100%);
    background: -o-linear-gradient(top, rgba(229,231,232,1) 0%, rgba(147,167,176,1) 100%);
    background: -ms-linear-gradient(top, rgba(229,231,232,1) 0%, rgba(147,167,176,1) 100%);
    background: linear-gradient(to bottom, rgba(229,231,232,1) 0%, rgba(147,167,176,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5e7e8', endColorstr='#93a7b0', GradientType=0 );
}
section a {
    float: left;
    display: block;
    margin-top: 15px;
    margin-right: 7px;
    margin-left: 22px;
    margin-bottom: 10px;
    text-decoration: none;
}
.product_name {
    display: block;
    color: #206988;
    font-size: 14.59px;
    font-weight: bold;
}
.product_model {
    display: block;
    color: #1f2528;
    font-size: 12.77px;
}
.product_price{
    display: block;
    color: #114165;
    font-size: 16px;
    font-family: arial, verdana, sans-serif;
    font-weight: bold;
    font-style: italic;
    margin-top: 4px;
}
.product_currency {
    font-size: 12px;
}
figure {
    display: block;
    width: 139px;
    text-align: center;
}
figure .product_card {
    height: 129px;
    width: 139px;
    margin: 0 auto;

}
figure .product_img {
    display: table-cell;
    height: 129px;
    width: 139px;
    font-size: 0;
    background: white;
    text-align: center;
    border-radius: 8px;
    border: 1px solid #a7b1b4;
    vertical-align: middle;
    box-sizing: border-box;
}
.brands {
    float: left;
}
.brands .product_catalog {
    margin-top: 3px;
    margin-left: 9px;
    font-size: 14px;
}
.brands .product_catalog img {
    vertical-align: middle;
    margin-top: -4px;
    margin-left: 3px;
    margin-right: 4px;
}
.brands .first_catalog_item {
    width: 134px;
    font-family: arial, verdana, sans-serif;
    line-height: 27px;
    margin-top: 14px;
    margin-left: 24px;
}
.brands .first_catalog_item img {
    margin-top: -4px;
    margin-right: 2px;
}
.brands form {
    margin-left: 29px;
}
.brands form div:first-child {
    margin-top: 3px;
}
.brands form label {
    color: #465961;
    line-height: 25px;
    font-size: 12.73px;
    margin-left: 6px;
    vertical-align: middle;
}
.brands_name {
    vertical-align: middle;
}
.brands .disc_brand {
    width: 135px;
    margin-top: 8px;
    margin-left: 23px;
}
.brands .form_disc_brand div:first-child {
    margin-top: 5px;
}
.brands .catalog_item_2 img {
    margin-right: 5px;
}
.select_brands {
    height: 26px;
    width: 80px;
    color: #e5e9ea;
    font-size: 11px;
    font-family: arial, verdana, sans-serif;
    text-transform: uppercase;
    margin-top: 13px;
    margin-left: 5px;
    border: none;
    border-radius: 13px;

    background: rgba(31,104,135,1);
    background: -moz-linear-gradient(top, rgba(31,104,135,1) 0%, rgba(12,51,87,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(31,104,135,1)), color-stop(100%, rgba(12,51,87,1)));
    background: -webkit-linear-gradient(top, rgba(31,104,135,1) 0%, rgba(12,51,87,1) 100%);
    background: -o-linear-gradient(top, rgba(31,104,135,1) 0%, rgba(12,51,87,1) 100%);
    background: -ms-linear-gradient(top, rgba(31,104,135,1) 0%, rgba(12,51,87,1) 100%);
    background: linear-gradient(to bottom, rgba(31,104,135,1) 0%, rgba(12,51,87,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f6887', endColorstr='#0c3357', GradientType=0 );

    -webkit-box-shadow: 1px 2px 2px 0 rgba(190,192,193,1);
    -moz-box-shadow: 1px 2px 2px 0 rgba(190,192,193,1);
    box-shadow: 1px 2px 2px 0 rgba(190,192,193,1);
}
.prefooter {
    margin-top: 38px;
    text-align: center;
}
.prefooter img {
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: middle;
}
footer {
    height: 100px;
    background: #213a4d;
    text-align: center;
    margin-top: 25px;
    padding-top: 12px;
}
footer ul {
    text-align: center;
    font-size: 0;
}
footer li {
    position: relative;
    display: inline-block;
    margin-right: 25px;
}
footer li:first-child {
    margin-left: 31px;
}
footer li:last-child {
    margin-left: 4px;
}
footer li a {
    color: #bec6c9;
    font-size: 12px;
    letter-spacing: 0.3px;
    font-family: arial, verdana, sans-serif;
    text-decoration: none;
}
footer .footer_sep::after {
    position: absolute;
    content: "";
    height: 11px;
    width: 1px;
    top: 1px;;
    right: -13px;;
    background: #8d989f;
}
footer span {
    display: block;
    color: #7f4740;
    font-size: 10px;
    font-family: arial, verdana, sans-serif;
    margin-top: 16px;
    margin-left: -2px;
}
footer li a:hover,
footer .active {
    color: #52abcb;
}
