/* @font-face {
    font-family: "Helvetica Neue";
    src: url("../fonts/helveticaneue-thin-webfont.eot");
    src: url("../fonts/helveticaneue-thin-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/helveticaneue-thin-webfont.woff2") format("woff2"),
         url("../fonts/helveticaneue-thin-webfont.woff") format("woff"),
         url("../fonts/helveticaneue-thin-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
} */
/* Зачистка границ */
.clearfix:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    width: 100%;
}
/* -End- Зачистка границ */

.header {
    padding: 18px 46px 0 46px;
    background-color: #d0d0d0;
}
.telephone {
    float: left;
}
.navi {
    float: right;
}
.navi li {
    display: inline-block;
}
.avtoriz {
    position: relative;
    float: right;
    padding: 4px 5px 5px 25px;
    border-radius: 3px;
    height: 25px;
    background: rgba(31,105,137,1);
/* Old Browsers */background: -moz-linear-gradient(top, rgba(31,105,137,1) 0%, rgba(12,50,85,1) 100%);
/* FF3.6+ */background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(31,105,137,1)), color-stop(100%, rgba(12,50,85,1)));
/* Chrome, Safari4+ */background: -webkit-linear-gradient(top, rgba(31,105,137,1) 0%, rgba(12,50,85,1) 100%);
/* Chrome10+,Safari5.1+ */background: -o-linear-gradient(top, rgba(31,105,137,1) 0%, rgba(12,50,85,1) 100%);
/* Opera 11.10+ */background: -ms-linear-gradient(top, rgba(31,105,137,1) 0%, rgba(12,50,85,1) 100%);
/* IE 10+ */background: linear-gradient(to bottom, rgba(31,105,137,1) 0%, rgba(12,50,85,1) 100%);
/* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f6989', endColorstr='#0c3255', GradientType=0 );
/* IE6-9 */
}
.avtoriz li {
    display: inline-block;
}
.authorization::before {
    position: absolute;
    top: 6px;
    left: 7px;
    height: 17px;
    width: 13px;
    content: "";
    background: url(../img/work6.png);
}
input {
    height: 16px;
}
.avtoriz a {
    color: white;
    text-decoration: none;
}
.avtoriz .ForgotYourPassword {
    text-decoration: underline;
    color: #bfbfbf;
}
