/* @font-face {
    font-family: "Helvetica Neue";
    src: url("../fonts/helveticaneue-thin-webfont.eot");
    src: url("../fonts/helveticaneue-thin-webfont.eot?#iefix") format("embedded-opentype"),
         url("../fonts/helveticaneue-thin-webfont.woff2") format("woff2"),
         url("../fonts/helveticaneue-thin-webfont.woff") format("woff"),
         url("../fonts/helveticaneue-thin-webfont.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
} */
/* Зачистка границ */
.clearfix:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    width: 100%;
}
/* -End- Зачистка границ */

body {

}
.wrapper {
    padding: 18px 46px 0 46px;
    /*background-color: #d0d0d0;*/
    width: 1000px;
    margin: 0 auto;
    box-sizing: border-box;
}
.telephone {
    position: relative;
    float: left;
    color: #5e696d;
    font-size: 18px;
    font-family: arial, verdana, sans-serif;
    letter-spacing: 0.5px;
    margin-top: 6px;
    margin-left: 31px;
}
.telephone::before {
    position: absolute;
    top: -2px;
    left: -25px;
    height: 21px;
    width: 22px;
    content: "";
    background: url(../img/head-phone.png);

}
.navi {
    float: right;
}
.navi li {
    display: inline-block;
}
.avtoriz {
    position: relative;
    float: right;
    padding: 4px 5px 5px 25px;
    border-top: 1px solid #1f6787;
    border-bottom: 1px solid #0c3357;
    border-radius: 2px;
    height: 15px;
    font-size: 12px;
    font-family: "Lucida Sans Unicode", arial, verdana, sans-serif;
    letter-spacing: -1px;
    background: rgba(31,105,137,1);
/* Old Browsers */background: -moz-linear-gradient(top, rgba(31,105,137,1) 0%, rgba(12,50,85,1) 100%);
/* FF3.6+ */background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(31,105,137,1)), color-stop(100%, rgba(12,50,85,1)));
/* Chrome, Safari4+ */background: -webkit-linear-gradient(top, rgba(31,105,137,1) 0%, rgba(12,50,85,1) 100%);
/* Chrome10+,Safari5.1+ */background: -o-linear-gradient(top, rgba(31,105,137,1) 0%, rgba(12,50,85,1) 100%);
/* Opera 11.10+ */background: -ms-linear-gradient(top, rgba(31,105,137,1) 0%, rgba(12,50,85,1) 100%);
/* IE 10+ */background: linear-gradient(to bottom, rgba(31,105,137,1) 0%, rgba(12,50,85,1) 100%);
/* W3C */filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f6989', endColorstr='#0c3255', GradientType=0 );
/* IE6-9 */

    -webkit-box-shadow: 2px 2px 2px 0 rgba(124,135,148,1);
    -moz-box-shadow: 2px 2px 2px 0 rgba(124,135,148,1);
    box-shadow: 2px 2px 2px 0 rgba(124,135,148,1);
}
.avtoriz li {
    display: inline-block;
}
.authorization::before {
    position: absolute;
    top: 5px;
    left: 8px;
    height: 17px;
    width: 13px;
    content: "";
    background: url(../img/work6.png);
}
input {
    margin-right: 5px;
    height: 10px;
    width: 107px;
    font-size: 11px;
    padding-left: 2px;
    padding-bottom: 2px;
}
.avtoriz a {
    color: white;
    text-decoration: none;
}
.avtoriz .ForgotYourPassword {
    text-decoration: underline;
    color: #bfbfbf;
    letter-spacing: 0;
}
.navi {
    text-align: center;
    background: white;
    height: 19px;
    width: 75px;
    border-radius: 10px;
    margin-top: 2px;
    margin-right: 6px;
    margin-left: 17px;
    border: 1px solid #c1c8cb;
    -webkit-box-shadow: 0 0 3px 0 rgba(193,200,203,1);
    -moz-box-shadow: 0 0 3px 0 rgba(193,200,203,1);
    box-shadow: 0 0 3px 0 rgba(193,200,203,1);
}
.navi li {
    margin-right: 4px;
}
.navi a {
    display: block;
}
.main_banner {
    margin-top: 11px;
    font-size: 0;
}
